<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title><%= title %></title>
      <link rel='stylesheet' href='css/bootstrap.min.css' />
      <link rel='stylesheet' href='main.css' />
      
  </head>
  <body>
      <div class="nav">
          <div class="container">
              <ul class="pull-right">
                  <li><a href="register"> Sign up</a></li>
                  <li><a href="login"> Log in</a></li>
              </ul>
          </div>
          <div class="jumbotron">
              <div class="container">
                  <h1>PostIt</h1>
                  <p>create groups for notification</p>

              </div>

          </div>
      </div>

  </body>
</html>